/* Cookies */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-color: #009218;
}
.cookies-box {
  position: fixed;
  max-width: 1000px;
  left: 0;
  right: 0;
  bottom: -225px;
  width: 100%;
  background-color: #178a00;
  padding: 25px;
  border-radius: 8px;
  margin: 0 auto;
  color: #ffffff;
  transition: all 0.3s ease;
  z-index: 1000;
}
.cookies-box.show {
  bottom: 25px;
}
.cookies__title {
  margin: 0;
  padding: 0;
  line-height: 18px;
}
.cookies__text {
  font-size: 12px;
}
.cookies__title,
.cookies__text {
  margin-bottom: 15px;
}
.cookies__link {
  margin-left: 10px;
  display: inline-block;
  color: #093500;
}
.cookies__btn {
  font-size: 16px;
  padding: 10px 25px;
  background-color: #00ff00;
  color: #000000;
  border-radius: 3px;
  border: none;
  transition: background 0.3s;
  cursor: pointer;
}
.cookies__btn--accept {
  margin-right: 15px;
}
.cookies__btn:hover {
  background-color: #00ff22;
}
.cookies__link:hover {
  color: #00ff22;
}